/* === fonts ===
font-family: 'Rajdhani', sans-serif;
font-family: 'Catamaran', sans-serif;
font-family: 'Questrial', sans-serif;
font-family: 'Barlow', sans-serif;
font-family: 'Maven Pro', sans-serif;
font-family: 'Rock Salt', cursive;
 */

.exp-header{
    display: inline-block;
    font-size: 15pt;
    color:white;
    /* text-align: center; */
    font-weight: bolder;
   border-bottom: solid 1px white;
}

.exp-text{
    font-size: 10pt;
    color: white;
    text-align: center;
}

.exp-text span{
    font-size: 11pt;
    font-weight: bold;
    color: rgb(145, 191, 243);
    font-style: italic;
}

.exp-div{
    display: inline-block;  
    /* margin: 25px; */
    max-width: 33%;
    /* border: solid 1px white; */
    /* align-content: center; */
    float: none;
    padding: 5px;
}

ul{
    /* margin: auto; */
    padding: 0;
    list-style-type: none;
}

.exp-div-container{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* .bdr-lft{
    border-left: solid 1px white;
    border-right: solid 1px white;
} */

#res-icon{
    height: 50px;
}

#tech-header-img{
    max-width: 200px;
}

.site-screenshot{
    max-width: 90%;
}

.example-wrapper{
    padding: 15px;
    border: solid 1px white;
    border-radius: 8px;
    max-width: 35%;
    display: inline-block;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.411);
}

.example-text{
    font-size: 12pt;
}