.site-screenshot{
    max-width: 90%;
}

.example-wrapper{
    padding: 15px;
    border: solid 1px white;
    border-radius: 8px;
    max-width: 30%;
    min-width: 375px;
    /* max-height: 40%; */
    display: inline-block;
    margin: 15px;
    background-color: rgba(0, 0, 0, 0.411);
}

.example-text{
    font-size: 12pt;
}

.example-container{
    margin: auto;
    /* display: flex; */
    /* flex-direction: row; */
}